
# Various tool cache dirs
__pycache__
.mypy_cache
.ruff_cache
.tox
.pytest_cache

# python build stuff
dist
build
*.egg-info

# Snap build stuff
snap_contents/
*.snap

# Virtual environment
.venv

# all the deps are here only for development,
# so we don't really need the lock file
uv.lock

# Its useful to pin the dev version to the oldest with
# `uv python pin 3.9` but we don't need the resulting file
.python-version